<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-lg-2">

        </div>
        <div class="col-md-auto">
            <app-menu-search-bar (searchEvent)="resetState()" (compareBusinessesEvent)="updateBusinesses($event)">
            </app-menu-search-bar>
        </div>
        <div class="col col-lg-2">

        </div>
    </div>

    <div class="row" *ngIf="!businessIsSelected">
        <div class="col" *ngFor="let item of businesses">
            <app-business-card (selectBusinessEvent)="updateSelectedBusiness($event)" [business]="item">
            </app-business-card>
        </div>
    </div>
    <div class="row" *ngIf="menuCardIsLoaded">
        <app-menu-card [menuCard]="menuCard"></app-menu-card>
    </div>
</div>
<ul *ngIf="auth.user$ | async as user">
    <li>{{ user.name }}</li>
    <li>{{ user.email }}</li>
  </ul>
sdfasd