<div class="form-group">
    <button class="btn btn-default" (click)="searchBusiness()">
        Search
    </button>
</div>
<div class="form-group">
    <input [(ngModel)]="search_term" class="form-control" placeholder="mcdonalds">
</div>
<div *ngIf="!businessIsSelected">
    <div *ngFor="let item of businesses" class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
        <app-business-card  (selectBusinessEvent)="updateSelectedBusiness($event)" [business]="item">
        </app-business-card>
    </div>
</div>


<div *ngIf="menuCardIsLoaded">
    <div>{{menuCard|json}}</div>
</div>